@media only screen and (max-width: 900px) {
    .container {
        max-width: 80% !important;
        margin-top: 15% !important;
    }
}

[data-theme="light"] .menu summary[role="button"]{
    color: slategray;
}

[data-theme="light"] #delete-task-button {
    -webkit-filter: invert(80%);
}

.container {
    margin-top: 7%;
    max-width: 50%;
}

small {
    color: rgb(172, 185, 191);
}

.submit-button {
    padding: 0.3rem 0.7rem;
    font-size: 0.9rem;
}

.item-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.item-row > img {
    margin-right: 1.5rem;
}

.header-content {
    align-items: baseline;
    gap: var(--pico-spacing, 1rem); 
    justify-content: space-between; 
    grid-template-columns: 3fr 1fr;
}


.sort-checkbox-container {
    gap: 0.5rem;
    justify-items: start;
    align-items: center;
    grid-template-columns: auto 1fr;
}
  
.menu summary[role="button"] {
background-color: transparent !important; 
border: none !important; 
color: lightcyan; 
box-shadow: none !important; 
}

li:hover {
    cursor: pointer;
}

#task-search {
    font-size: 0.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    width: 60%;  
    max-height: 2.5rem;
}

#add-task-form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 0.6rem;
}

#add-task-form > button {
    flex: 0 0 auto;
    max-width: 4rem;
    font-size: 1rem;
}

#add-task-form > input {
    max-height: 3.5rem;
}

#delete-task-button {
    height: 0.8rem;
    width: 0.8rem;
}

img:hover {
    cursor: pointer;
}
